
<div class="container-sm  container-md container-lg ">
    <div class="m-auto my-5">

      <div class="text-center">
        <img   style="max-width: 100%; max-height: 400px;" class="img-fluid m-auto" src="assets/imagenes/logoEvelinaSinfondo.png">
        <!-- <h1 class="text-center my-3 my-md-5 fw-bold">{{title}}</h1> -->
      </div>
      <div class="m-auto" style="max-width: 70%">
        <p class="p-1">
          ¡Hola! Muchas gracias por visitar mi Portafolio, esta realizado con Angular v16, es un SPA en la cual 
          estoy utilizando componentes de Angular Material, con carga Lazy loading y se implemento mensajeria de hosting free.
          Además si visitas la sección Portafolio vas a encontrar mas desarrollos en donde fuí implementando varios conocimientos más.
        </p>
        <p class="p-1">
          Estoy continuamente realizandole mejoras , así que te invito a que lo visites cada tando para que juntos vayamos viendo 
          su avance.
        </p>
        <p class="p-1">
          Un gustazo y hasta la próxima.
        </p>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
</div>

