h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 4rem;
  line-height: normal;
}
img{
  border-radius: 50%;
}

p{
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
