
<div class="container-fluid text-center m-0 p-0">
  <div class="row align-items-center" style="min-height: 300px;">
    <div class="col mt-md-5">
      <div>
        <img style="max-width: 100%; max-height: 400px;" class="img-fluid mt-3 mt-md-0" src="assets/imagenes/logoEvelinaSinfondo.png">
        <!-- <h1 class="text-center my-3 my-md-5 fw-bold">{{title}}</h1> -->
      </div>
      <div class="text-center">
        <p class="px-3 px-md-5 m-auto">¡Hola! Soy Evelina Nuñez, y estoy completamente entusiasmada con la idea de crear soluciones innovadoras y aprender continuamente en este emocionante camino del desarrollo.</p>
      </div>
      <div class="align-items-center">
        <img style="max-width: 100%; max-height: 300px;" class="img-fluid mt-3 mt-md-0" src="assets/imagenes/fotoCaricaturaSinFondo.png">
      </div>
    </div>
  </div>
</div>

