
<div class="container mt-5">
  <div class="row text-center align-items-center">
    <div class="col-md-6">
      <!-- Columna para la foto -->
      <img class="img-fluid" src="assets/imagenes/fotoPerfilEveSinFondo.png" style="height: auto;">
    </div>
    <div class="col-md-6 mt-5">
       <h3>¡Hola! Soy Evelina Nuñez, soy desarrolladora web .NET que está a punto de graduarse de la carrera Tecnicatura en desarrollo web de la Universidad de La Matanza. Actualmente, me encuentro en mi último año de estudios, sumergida en el fascinante mundo del desarrollo web.</h3>
       <h3>Sobre Mí</h3>
       <p>
        Mi motivación por aprender y crecer me ha llevado a complementar mi formación con diversos cursos en nuevas tecnologías, manteniéndome actualizada en el siempre cambiante panorama del desarrollo web.
       </p>
       <h3>Experiencia Laboral</h3>
       <p>En mi experiencia en el campo, he tenido la oportunidad de participar activamente en proyectos desafiantes que han contribuido al fortalecimiento continuo de mis habilidades técnicas y mi capacidad para abordar problemas de manera eficiente</p>
       <h3>Constante Aprendizaje</h3>
       <p>Creo firmemente en el poder del aprendizaje continuo. Mi sed de conocimiento me ha llevado a explorar y experimentar con las últimas tendencias y herramientas del mundo del desarrollo web. Actualmente, estoy inmersa en cursos que me permiten dominar tecnologías emergentes, proporcionándome una perspectiva fresca y actualizada</p>
       <h3>Mis Objetivos</h3>
       <p>Mi objetivo es seguir creciendo como profesional del desarrollo web, contribuyendo al éxito de proyectos innovadores y desafiándome a superar mis propios límites. Estoy entusiasmada con la idea de formar parte de equipos dinámicos que valoren la creatividad, la colaboración y el compromiso con la excelencia técnica.</p>
       <h3>¡Conéctate Conmigo!</h3>
       <p>Estoy abierta a nuevas oportunidades y colaboraciones. Si estás interesado/a en conocer más sobre mi trabajo o explorar posibles colaboraciones, no dudes en ponerte en contacto conmigo. </p>
       <h3>¡Estoy ansiosa por hablar contigo!</h3>
       <h3>¡Gracias por visitar mi portafolio!</h3>
      </div>
  </div>
</div>
