
  <div class="my-5">
    <div class="container-sm  container-md container-lg">
      <div class="m-auto">
        <div class="text-center p-5">
          <h1>SOBRE MI </h1>
        </div>
        <div class="text-center mb-3">
          <img src="../../../../assets/imagenes/fotoPerfilEve.jpg" class="img-fluid" style="border-radius: 50%;width: 15rem;height: 15rem;border: solid #fdcae1 1rem;">
        </div>
        <div class="m-auto" style="max-width: 70%;">
          <p>
    
            Estudiante universitaria próxima a recibirse a fin de año 2024 de la tecnicatura 
            en desarrollo web de la Universidad Nacional de La Matanza.
            Persona curiosa que se encuentra en constante crecimiento, siempre estoy realizando algún curso en mis días.
            Algunos de estos son pagos y otros gratuitos de diferentes plataformas.
          </p>
          <p>Trabaje como desarrolladora web año y medio en una empresa Argentina con cobertura de todo el territorio federal.
            Ahí aprendí a trabajar en equipo, gestionar tiempos, implementar metodologías ágiles como por ejemplo Scrum, uso
            de diferentes herramientas de trabajo. Es por eso que puedo decir que tengo experiencia en uso de Visual Studio,
            Visual Studio Code, Postman, Sql Server, ect.
          </p>
          <p>
            No tengo inconvenientes en adaptarme a otras herramientas de trabajo, siempre lo tomo como un desafio que siempre
            estoy dispuesta a afrontar.
          </p>
          <p>
            Gracias por llegar hasta aquí, espero verte de nuevo.
    
    
        </div>  
        
      </div>
      <div class="row" >
        <div class=" col-12 col-md-6 p-5 text-center">
  
            <a href="../../../../assets/resume/resume_developer_web_full_stack_ nunez_evelina.pdf" class="text-center" download>
              <i class="fa-solid fa-file-arrow-down fs-3">
              </i> 
              CV Ingles</a>
        </div>
        <div class=" col-12 col-md-6 p-5 text-center">
            <a href="../../../../assets/resume/cv_desarrollador_web_full_stack_nunez_evelina.pdf" class="text-center" download>
              <i class="fa-solid fa-file-arrow-down fs-3">
                
              </i> CV Español
            </a>
        </div>
      <div></div>  
    </div>
    </div>
</div>  
