<div class="container-sm  container-md container-lg ">
  <div class="m-auto my-5">
    <h1 class="text-center p-5">SOBRE MI </h1>
    <div class="text-center">
      <img style="max-width: 100%; max-height: 300px;" class="img-fluid mt-3 mt-md-0" src="assets/imagenes/fotoCaricaturaSinFondo.png">
    </div>
    <div class="m-auto" style="max-width: 70%">
      <p>
        Estudiante universitaria próxima a recibirse a fin de año 2024 de la tecnicatura 
        en desarrollo web de la Universidad Nacional de La Matanza.
        Persona curiosa que se encuentra en constante crecimiento, siempre estoy realizando algún curso en mis días.
        Algunos de estos son pagos y otros gratuitos de diferentes plataformas.
      </p>
      <p>Trabaje como desarrolladora web año y medio en una empresa Argentina con cobertura de todo el territorio federal.
        Ahí aprendí a trabajar en equipo, gestionar tiempos, implementar metodologías ágiles como por ejemplo Scrum, uso
        de diferentes herramientas de trabajo. Es por eso que puedo decir que tengo experiencia en uso de Visual Studio,
        Visual Studio Code, Postman, Sql Server, ect.
      </p>
      <p>
        No tengo inconvenientes en adaptarme a otras herramientas de trabajo, siempre lo tomo como un desafio que siempre
        estoy dispuesta a afrontar.
      </p>
      <p>
        Gracias por llegar hasta aquí, espero verte de nuevo.
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>  
  </div>
</div>  
<!-- <div class="m-auto my-5">
  <div class="text-center p-5">
    <h1>SOBRE MI </h1>
  </div>
  <div class="container mt-5">
    <div class="row  align-items-center">
     <div class="col-md-6">
        <img class="img-fluid" src="assets/imagenes/fotoPerfilEveSinFondo.png" style="height: auto;">
      </div> 
      <div class="align-items-center">
       
      </div> 
      <div class="col-md-6 mt-5">
         <h3>¡Hola! Soy Evelina Nuñez, soy desarrolladora web .NET que está a punto de graduarse de la carrera Tecnicatura en desarrollo web de la Universidad de La Matanza. Actualmente, me encuentro en mi último año de estudios, sumergida en el fascinante mundo del desarrollo web.</h3>
         <h3>Sobre Mí</h3>
         <p>
          Mi motivación por aprender y crecer me ha llevado a complementar mi formación con diversos cursos en nuevas tecnologías, manteniéndome actualizada en el siempre cambiante panorama del desarrollo web.
         </p>
         <h3>Experiencia Laboral</h3>
         <p>En mi experiencia en el campo, he tenido la oportunidad de participar activamente en proyectos desafiantes que han contribuido al fortalecimiento continuo de mis habilidades técnicas y mi capacidad para abordar problemas de manera eficiente</p>
         <h3>Constante Aprendizaje</h3>
         <p>Creo firmemente en el poder del aprendizaje continuo. Mi sed de conocimiento me ha llevado a explorar y experimentar con las últimas tendencias y herramientas del mundo del desarrollo web. Actualmente, estoy inmersa en cursos que me permiten dominar tecnologías emergentes, proporcionándome una perspectiva fresca y actualizada</p>
         <h3>Mis Objetivos</h3>
         <p>Mi objetivo es seguir creciendo como profesional del desarrollo web, contribuyendo al éxito de proyectos innovadores y desafiándome a superar mis propios límites. Estoy entusiasmada con la idea de formar parte de equipos dinámicos que valoren la creatividad, la colaboración y el compromiso con la excelencia técnica.</p>
         <h3>¡Conéctate Conmigo!</h3>
         <p>Estoy abierta a nuevas oportunidades y colaboraciones. Si estás interesado/a en conocer más sobre mi trabajo o explorar posibles colaboraciones, no dudes en ponerte en contacto conmigo. </p>
         <h3>¡Estoy ansiosa por hablar contigo!</h3>
         <h3>¡Gracias por visitar mi portafolio!</h3>
        </div>
    </div>
  </div>
</div>

 -->