
  <mat-toolbar  class="fixed-top mb-5">
    <div style="margin-right: auto;" class="example-spacer">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openLinkedInProfile()">
        <i class="fa-brands fa-linkedin "></i>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openGithubProfile()" >
        <i class="fa-brands fa-github "></i>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="enviarCorreo()">
        <i class="fa-regular fa-envelope "></i>
      </button>
    </div>
    <div>
      <button
        (click)="toggleSidebar.emit()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

