.example-container {
  min-height: 100vh;
}

.example-sidenav-content {
  /* height: 100%; */
}

.example-sidenav {
  padding: 20px;
  position: fixed;
  top: 0;
}


.router-container {
  padding-top: 50px; /* Ajusta el valor según la altura del toolbar */
}


main {
  min-height: calc(100vh - 5rem); /* 5rem es el alto del toolbar; habria que considerar colocar el alto del toolbar en una variable CSS para establecerlo globalmente */
}
