<mat-drawer-container class="example-container" autosize>
  <mat-drawer
  #drawer
  class="example-sidenav"
  mode="side"
  position="end"
  [opened]="mostrarSidebar">
  <app-sidebar (click)="mostrarSidebar= !mostrarSidebar"></app-sidebar>
  </mat-drawer>
  <div class="example-sidenav-content">
    <app-toolbar (click)="mostrarSidebar= !mostrarSidebar"></app-toolbar>
    <main style="max-height: 100vh;">
        <router-outlet></router-outlet>
        <!-- <app-footer style="margin-bottom: auto;"></app-footer> -->

    </main>

  </div>
</mat-drawer-container>
<!-- <app-footer></app-footer> -->

