<mat-nav-list class="list-horizontal">
    <mat-list-item>
      <a matListItemTitle href="">Principal</a>
    </mat-list-item>
    <mat-list-item>
      <a matListItemTitle href="">Sobre mi</a>
    </mat-list-item>
    <mat-list-item>
      <a matListItemTitle href="">Portafolio</a>
    </mat-list-item>
    <mat-list-item>
      <a matListItemTitle href="">Contacto</a>
    </mat-list-item>
<!--     <mat-list-item>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-list-item>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
</mat-nav-list>
