<mat-nav-list class="list-horizontal">

    <mat-list-item

    routerLink ="home"
    routerLinkActive
    #principalLink = "routerLinkActive"
    [activated]="principalLink.isActive"
    mat-button color="primary"
    >
    <a>Principal</a>

    </mat-list-item>
    <mat-list-item
    routerLink ="about-me"
    routerLinkActive
    #aboutMeLink = "routerLinkActive"
    [activated]="aboutMeLink.isActive"
    >
      <a>Sobre mi</a>
    </mat-list-item>
    <mat-list-item

    routerLink ="portafolio"
    routerLinkActive
    #portafolioLink = "routerLinkActive"
    [activated]="portafolioLink.isActive"
    >
    <a>Portafolio</a>
    </mat-list-item>
    <mat-list-item
    routerLink ="contact"
    routerLinkActive
    #contactLink = "routerLinkActive"
    [activated]="contactLink.isActive"
    >
      <a>Contacto</a>
    </mat-list-item>
    <!-- <mat-list-item>
      <a matListItemTitle href="">Sobre mi</a>
    </mat-list-item>
    <mat-list-item>
      <a matListItemTitle href="">Portafolio</a>
    </mat-list-item>
    <mat-list-item>
      <a matListItemTitle href="">Contacto</a>
    </mat-list-item> -->
<!--     <mat-list-item>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-list-item>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
</mat-nav-list>
