<div class="container-fluid mt-5">
  <div class="m-auto p-3">
    <h1 class="text-center">MIS PROYECTOS</h1>
  </div>
  <mat-card class="example-card">
    <mat-card-header style="display: inline-flex;">
      <div mat-card-avatar class="angular-image"></div>
      <mat-card-title>Aplicación administración de cursos</mat-card-title>
      <mat-card-subtitle>Desarrollado con Angular - Curso CoderHouse - sep 23 a nov 23</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/imagenes/homeCursoAngular.png" alt="Photo of a Shiba Inu">
    <mat-card-content style="display: inline-block;">
      <p>
      Aplicación creada en angular para incorporar los conocimientos de componentes y elementos de un proyecto de Angular, modulos , interpolación, directivas, comunicación entre componentes, reactive forms, angular material, pipes y directivas personalizas. Se aplico Lazy Loading de modulos y Guards, router, llamadas a API REST y se aplico un poco de patrón de diseño Redux con NgRx.
      </p>
      <p>
        <a href="https://www.coderhouse.com/online/angular" target="_blank">Link Curso Angular Coderhouse</a>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>IR A LA WEB</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>

</div>
